.cardBox{
    /* margin-left: 5px; */
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 50px;
    background-color: inherit;
    height: auto;
    border: none;
    margin-left:0px;
}
.container-pos{
    margin-left:-2rem !important;
}
.small-txt{
    font-size:small;
}
.nav-first-item{
    background-color:#00bbd9;
    color:white;
    height:2rem;
    
    text-align:center;
    
}

.nav-first-item p{
    font-size:1em;
    font-weight:500;
    padding-top:5px;
}
.container-nested{
    margin-top:5px;
    margin-left:5px;
}
.scriptsLabel{
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #4e4c4c;    
    margin-left: -4px;
    margin-bottom: 10px;
}


.display-none{
    display:none;
}

.createScriptStageTitle{
    width: 90%;
    display: flex;
    /* border-bottom: 2px solid lightsteelblue; */
    margin-top: 40px;
}

.createScriptStageTitle div{
    width: 20rem;
    height:5rem;
    box-sizing:border-box;

}

.flex-auto{
    justify-content: space-between;
    
}
.flex-auto p{
    margin-top:1rem;
    margin-left:1rem;
    margin-right:1rem;
}
.upload-label{
    font-size:3em;
}

.createScriptStageTitle .activeLinkBox{
        border-top: 6px solid #60cd9b; 	
        background-color:white;
        height:6rem;
}
/* .createScriptStageTitle div:nth-child(2){
        border-bottom: 6px solid #d7668d; 	
        background-color:white;
}
.createScriptStageTitle div:nth-child(3){
        border-bottom: 6px solid #f08080; 	
        background-color:white;
} */

.createScriptStageTitle .activeLink{
    color: black;
    font-weight: 600;
}

.createScriptStageTitle .visitedLink{
    color: white;
}

.createScriptStageTitle div{
    margin-right: 30px;
    /*padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; */
}

.createScriptStageTitle a{
   text-decoration: none;
   color: #b0b7be;
   /* font-size: 13px; */
}

.createScriptTiles {
    margin-top: 0px;
    width: 100%;
    /* height:500px; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    /* margin-left: 10px; */
    background-color:white;
    
}

.createScriptTiles div.selected{
    background-color: rgb(88, 104, 104);
    color:white;
}


.createScriptTileLabel {
    width: 90%;
    justify-content: center;
    display: flex;
    margin-left: 20px;
}

.createScriptTileLabel div{
    text-align: center;
    width: 20%;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(53, 50, 50);
}

.has-search .form-control {
    border-radius: 24px;
    
}
 
.has-search .form-control-feedback {
    top:0.5em;
    position: absolute;
    z-index: 2;
    display: block;
    width: 1.375rem;
    /* right: 350px; */
    right:1.4em;
    height: 1.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.font-bold{
    font-weight:bold;
    font-size:1em;
    color:black;
}

.text-black{
    color:black;
}
.text-grey-bold{
    font-weight:bold;
    color:grey;
    font-size:0.9em;
}
.text-lg{
    font-weight:bold;
    font-size:1.3em;
}
.wid-90{
    width:90%;
}
.float-r{
    margin-left:12em;
}
.scriptForm{
    margin-top: 90px;
    width:60%;
}
.select-custom{
    width:70%;
    border:1px solid grey;
    border-radius:24px;

}
.scriptForm input{
    width:100%;
    font-size: 13px;
    border:none;
    border-bottom: 1px solid #e2dede;
    margin-bottom: 60px;
}
.scriptForm input::placeholder{
    padding-left: 15px;
    color: #e2dede;
}

.button {
  background-color: #00bbd9; 
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-outline {
    background-color: white; /* Green */
    border: 1px solid #3b86ff;
    color: #3b86ff;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

.bottom {
    display: flex;
    justify-content: space-between;
}

.btnRight {
    width: 16%;
}

.back span, .back .fa{
    font-size: 13px;
    cursor: pointer;
}
.back a{
    text-decoration: none;
    color: gray;

}
.btn-custom{
    border-radius: 1.5rem;
    
}
.orgtable thead {
    
    background-color:#f4fafd;
}
.orgtable tbody tr{
    box-shadow:1px 1px 1px  lightgrey; 
    /*box-shadow:1px 0 10px 1px inset;*/
    background-color:white;
}
.funnel{
    /* right:54px; */
    right:0rem;
    top:4px;
    position:absolute;
}
.bor-bottom{
    border-bottom:1px solid lightgrey;
}
.over-y{
    height:400px;
    overflow-y:scroll;
}
.over-y-small{
    height:300px;
    overflow-y:scroll;
}
/* custom scroll bar */

.over-y::-webkit-scrollbar {
    width: 8px;
}
 
.over-y::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 8px;
}
 
.over-y::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* for overflow small */
.over-y-small::-webkit-scrollbar {
    width: 8px;
}
 
.over-y-small::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 8px;
}
 
.over-y-small::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}





