<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Login</title>

        <!-- Custom fonts for this template-->

        <!-- Bootstrap link -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
		
        <link rel="stylesheet" href="./css/font-awesome.min.css">
        <link href="./css/login.css" rel="stylesheet">
        
        <script src="./js/jquery.min.js"></script>
        
        <!-- <script src="./js/popper.min.js"></script> -->
        <script src="./js/bootstrap.bundle.min.js"></script>

        <!-- Custom styles for this template-->
        
    </head>
    <body >
      <section class="loginpg">
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center pt-5">
        
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        
                <div class="card o-hidden border-0 shadow-lg my-5 card-margin h-auto">
                  <div class="card-body p-0 form-container">
                    <!-- Nested Row within Card Body -->
                    
                    <div class="row">
                      <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                        <div class="p-5">
                          <div class="col-md-12 small-txt text-red float-left">
                            <div th:if="${param.error}">
                              &bull; Invalid email and password.
                          </div>
                          <div th:if="${param.logout}">
                              &bull; You have been logged out.
                          </div>
                          </div>
                          <div class="control-center mb-3">
                            <h5>Sign in</h5>
                          </div>

                          <!-- Form starts here -->
                          <form class="user control-center" th:action="@{/login}" method="post">
                            <div class="form-group">
                              <input type="email" name="email" id="inputEmail" class="form-control form-control-user  border-bottom-input form-input" aria-describedby="emailHelp" placeholder="username" required>
                            </div>
                            <div class="form-group">
                              <input type="password" name="password" id="inputPassword" class="form-control form-control-user border-bottom-input form-input"  placeholder="password" required>
                            </div>
                            <div class="form-group control-inline d-flex justify-content-around">
                              <div class="custom-control custom-checkbox small form-inline checkbox-align">
                                
                                <label class="form-check-label text-left xsmall-txt text-gray-900" for="customCheck">
                                    <input type="checkbox" class="form-check-input" id="customCheck"> Don't ask for another 30 days
                                </label>
                              </div>
                              <div class="custom-control">
                                <a class="xsmall-txt label-coloured-small" href="#">Forgot Password?</a>
                              </div>
                              
                            </div>
                            
                                <button class="btn btn-block btn-primary btn-signin small-txt" type="submit">
                                    Sign in
                                </button>
                                 
                                  
                                
                          </form>

                          <div class="mt-2">
                          <form th:action="@{/signup}" method="get">
                            <button class="btn btn-block btn-outline-primary  small-txt" type="Submit">
                              Sign Up
                            </button>
                          </form>
                        </div>
                          <div class="bg-logo-img mx-auto mt-3">
                                      
                          </div>
                          
                        </div>
                       
                      </div>
                      <div class="xxsmall-txt bottom-note justify-content-center">
                        <div class="flexauto text-center ml-1">
                            <label class="">Copyright @2020 Royal Cyber Inc. All Rights Reserved.</label> 
                        </div>
                        
        
                    </div>
                    </div>
                    <!-- </div> -->
                  </div>
                  
                </div>
               
              </div>
              
            </div>
            
        </div>
        </section>
          <!-- Bootstrap core JavaScript-->
          <!-- <script src="vendor/jquery/jquery.min.js"></script>
          <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
        
          <!-- Core plugin JavaScript-->
          <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
        
          <!-- Custom scripts for all pages-->
          <!-- <script src="js/sb-admin-2.min.js"></script> -->
        
    </body>
</html>